@button: ~"@{css-prefix}button";
.@{button} {
  font-weight: @btn-font-weight;
  appearance: none;
  border-radius: @btn-border-radius;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: @btn-padding-base;
  display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;     /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */

  /* loging */
  .le-loading{
    animation: button-loading-rotate 0.8s infinite linear;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right:5px;
  }
}


/* size */
.le-size-large{
  width: 100%;
  font-size: @btn-font-size-large;
  padding: @btn-padding-large;
}
.le-size-normal{
  font-size: @btn-font-size;
  padding: @btn-padding-base;
}
.le-size-small{
  border-radius: @btn-border-radius-small;
  display: inline-block;
  font-size: @btn-font-size-small;
  padding: @btn-padding-small;
}

/* type:primary 和 按下样式 */
.@{button}-primary{
  background: @btn-primary-bg;
  color: @btn-primary-color;
  &:active {
    background: #BD491F;
    color: @btn-primary-color;
  }
}

/* type:default 和 按下样式 */
.@{button}-default{
  background: @btn-default-bg;
  color: @btn-default-color;
  border: 1px @btn-default-border solid;
  &:active {
    background: #FF4E00;
    color: #fff;
  }
}

/* type:plain 和 按下样式 */
.@{button}-plain{
  box-sizing: border-box;
  background: inherit;
  color: @btn-ghost-color;
  border: 1px solid @border-color-thin;
  &:active {
    border: 1px solid @btn-default-border;
    color: @btn-default-color;
  }
}

/* type:shadow 和 按下样式 */
.@{button}-shadow{
  background: @btn-shadow-bg;
  color: @btn-shadow-color;
  &:active {
    background: #ffede6;
    color: @btn-default-color;
  }
}

/* disabled样式 */
.is-disabled {
  background: @btn-disable-bg;
  color: @btn-disable-color;
}
.is-disabled:active{
  background: @btn-disable-bg;
  color: @btn-disable-color;
}

@keyframes button-loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*竖向居中*/
.a-i-c{
  align-items:center;
  -webkit-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
}
/*横向居中*/
.j-c-c{
  -webkit-justify-content:center;
  justify-content:center;
  -moz-box-pack:center;
  -webkit--moz-box-pack:center;
  box-pack:center;
}
