@empty: ~"@{css-prefix}empty";
.@{empty}-box{
  text-align: center;
}
.@{empty}-img{
  width:100px;
  margin-bottom: 15px;
}
.@{empty}-text{
  margin:0;
  opacity: 0.3;
  font-family: "PingFang-SC-Semibold";
  font-weight: bold;
  color: @text-color;
}
.@{empty}-full-screen{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  background: #fff;
  text-align: center;
}
