@hand-bar: ~"@{css-prefix}hand-bar";
.@{hand-bar}-box{
  padding:0 15px;
  margin:0;
  background-color:@head-bg;
  background-color:inherit;
}
.@{hand-bar}-nav{
  width:99%;
  text-align:center;
  opacity: 0.6;
  font-size: 15px;
  color: @text-color;
}
.@{hand-bar}-title{
  font-size:@font-size-small;
  margin-left:5px;
}
.@{hand-bar}-type{
  font-size: @font-size-h5;
  color: @text-color;
  padding-left:15px;
}
.@{hand-bar}-rightBox{
  margin-left:auto;
}
