@radio: ~"@{css-prefix}radio";

.@{radio} {
  display: flex;
  flex-wrap: wrap;
  margin: -9px;
  .@{radio}-item {
    position: relative;
    display: block;
    margin: 9px;
  }
  .@{radio}-input {
    display: none;

    &:checked {
      + .@{radio}-label {
        display: block;
        background: #ffeee6;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 18px;
          height: 18px;
          background: url(//cdn.leoao.com/m/img/%E7%AD%9B%E9%80%89%E4%B8%8B%E6%A0%87.png);
          background-size: cover;
          transform: scale(1);
        }
      }
    }

    &[disabled] + .@{radio}-label {
      background-color: @background-color-gray;
      color: @shadow-color;
    }
  }
  .@{radio}-label {
    position: relative;
    display: block;
    padding: 5px 10px;
    font-size: @font-size-h4;
    background-color: @background-color-gray;
  }
}
